extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Allan Cheow
        p Full Stack JavaScript Developer
        .about-bio
          p I'm an aspiring full stack web developer looking to help make a positive impact in the world. My background in sales, service and management helps me understand the needs of my employers and their clients. It's with my experiences in diverse industry and my collective knowledge I'm able work efficiently and provide unorthodox views in each project to help forcast and prevent possible blockers. This is how I've had my many success and how I've helps my employers succeed.

      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info
        ul
          li (732) 266-7134
          li allan.cheow132@gmail.com
        a.btn-link(href='https://www.linkedin.com/in/allancheow/' target='_blank') LinkedIn
        a.btn-link(href='https://github.com/allancheow' target='_blank') GitHub
        a.btn-link(href='https://twitter.com/Cheows_Chow' target='_blank') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back