extends layout.pug

block content

  article.portfolio-intro 
    h1 Getting to know your next superstar developer!?

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
    p Portfolio description

  article.portfolio-project-thumbs
    .projects-box.box.grid 
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`static/${project.image_url[0]}`, alt='Screen capture of project demo')
            h5 #{project.project_name}

