extends layout.pug

block content

  article.portfolio-intro 
    h1 Getting to know your next superstar developer!?
    p Here is where you can find some examples of projects I've completed. These were created on my journey towards my Full Stack JavaScript TechDegree with 
      a(class='url', href='//teamtreehouse.com' target='_blank') teamtreehouse.com. 
      | You can easily gain access to the Demos and GitHub page with each project.

  article.portfolio-project-thumbs
    .projects-box.box.grid 
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`/static/${project.image_url[0]}`, alt='Screen capture of project demo')
            h5 #{project.project_name}

