<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')
    link(rel='stylesheet', href='/static/css/stylesExceeds.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src=`/static/images/self_1100x700.png`, alt='Portrait of Allan Cheow')
        .dev-intro-box
          h5 Allan Cheow
          p In a world of developers and impostors, comes one of the greatest ignorantly confident developers of all time. What he lacks in professional web development experience, he makes up for in tenacity and attention to details. Always up to take on any challenge and an excellent acquisition for your team.
          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')
          span Allan Cheow

      block content

  script(src='/static/js/script.js')
  script(src='/static/js/drift.js')